.footer {
  min-height: 50px;
  background:lightcyan;
  position: relative;
  font-family: 'Carrois Gothic', sans-serif;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: cornflowerblue;
  text-align: center;
  height: 40px;
}
